<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.bit.mapper.MemberMapper">
    <select id="memberDoubleCheck" resultType="kr.bit.entity.Member">
        select * from member_table where memberID=#{memberID}
    </select>

    <insert id="register" parameterType="kr.bit.entity.Member">
        insert into member_table(memberID, memberPw, memberName, memberAge, memberGender, memberEmail)
        values (#{memberID}, #{memberPw}, #{memberName}, #{memberAge}, #{memberGender}, #{memberEmail})
    </insert>
    
    <select id="getLogibMember" parameterType="kr.bit.entity.Member" resultType="kr.bit.entity.Member">
        select * from member_table where memberID=#{memberID} and memberPw=#{memberPw}
    </select>

    <update id="memberUpdate" parameterType="kr.bit.entity.Member">
        update member_table set memberPw=#{memberPw}, memberAge=#{memberAge}, memberEmail=#{memberEmail}, memberProfile=#{memberProfile} where memberID=#{memberID}
    </update>
</mapper>